ion-content {
  --ion-background-color: #f9f9f9;
}

.tasks {
  padding: 10px;
  background-color: #e2dddd;
}

.task-title{
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 14px;
  font-weight: bold;
  font-size: 15px;
  color: #3880ff;
}

.task-date {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 11px;
  margin-top: 28px;
}

.empty{
  padding: 10px;
  text-align: center;
  text-align: 50px;
  color: black;
}

h1 {
  color: rgb(16, 16, 16);
  margin-left: 20px;
  font-size: 30px;
}
h5 {
  color: #160f0f;
  margin-left: 20px;
  margin-top: -7px;
  font-size: medium;
  margin-bottom: 15px;
  text-transform: capitalize;
}