<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Todolist
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1><b>Aujourd'hui</b></h1>
    <h5>{{today}}</h5>
    
    <ion-footer *ngIf="isOpen">
      <ion-item>
        <ion-input [(ngModel)]="newTask" placeholder="Ajouter une nouvelle tâche"></ion-input>
        <ion-button shape="round" (click)="addNewTask()" color="primary">
        <ion-icon name="add" ></ion-icon></ion-button>
      </ion-item>
    </ion-footer>

<ion-list *ngIf="tasks.length">
  <ion-list-header>
    Mes tâches
  </ion-list-header>

  <ion-card class="tasks" *ngFor="let task of tasks">
    <ion-checkbox color="danger"[checked]="task.isChecked" (ionChange)="onCheck(event, i)"></ion-checkbox>
    <h4 class="task-title">{{task.content}}</h4>
    <ion-button fill="clear" color="danger" style="float: right;" ></ion-button>
    <ion-icon (click)="deleteTask(i)" name="trash" ></ion-icon>
  </ion-card>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="isOpen = true" color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-button (click)="isOpen = false" color="danger">
    <ion-icon name="backspace"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>



